/* .grid.ui.grid {
	background-color: aqua;
	
}

.card.ui.card {
	background-color: rgb(43, 255, 0);
	margin-bottom: 30px;
}

.ui.grid.column {
	background-color: red;
}

.column.ui.container {
	background-color: green;
} */

/* style={{
    marginBottom: '30px',
    justifyContent: 'spaceBetween'
}} */
