.grid.ui.grid {
  display: flex;
  justify-content: space-between;
}

.ui.card .header {
  text-transform: uppercase;
}

.ui.card .meta {
  text-transform: uppercase;
}

.card.ui.card {
  background-color: #c8c9cc;
  margin-bottom: 30px;
}

.ui.grid.column {
  background-color: red;
}

.column.ui.container {
  background-color: green;
}

@media screen and (max-width: 500px) {
  .grid.ui.grid {
    justify-content: center;
  }
}
